- var base = '/authenticate/'
.services
    h1 Services to Authenticate

    ul
        - each service in servicesList
            - var data = services[service]
            if data.authenticated
                li.authenticated:= service + ' - authenticated'
            else
                li: a(href="#{base + service}")= service 
