.youtube-cover(ng-mousemove='onMouse($event)', resize)
  .youtube-unit
    .sides.inner
      .front
        .inner-frame
          .tv-cover
          iframe(width='560', height='315', src='//www.youtube.com/embed/2FNEiTjcMM0', frameborder='0', allowfullscreen='allowfullscreen')
      .left
      .right
      .top
      .bottom
      .back
          
