<div ng-mousemove="onMouse($event)" resize="resize" class="youtube-cover">
  <div class="youtube-unit">
    <div ng-style="angle" class="sides inner">
      <div class="front">
        <div class="inner-frame">
          <div class="tv-cover"></div>
          <iframe width="560" height="315" src="//www.youtube.com/embed/2FNEiTjcMM0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
      <div class="left"></div>
      <div class="right"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="back"></div>
    </div>
  </div>
</div>